body {
	font-family: Arial;
	color: #211a1a;
	font-size: 0.9em;
}

#shopping-cart {
	margin: 40px;
}

#product-grid {
	margin: 40px;
}

#shopping-cart table {
	width: 100%;
	background-color: #F0F0F0;
}

#shopping-cart table td {
	background-color: #FFFFFF;
}
#subtotal{
	background-color: #c6cad1;
	opacity:0.8;
	position: absolute;
	right: 10%;
	top: 30%;
	width: 400px;
	height: 400px;
}
.txt-heading {
	color: #211a1a;
	border-bottom: 1px solid #E0E0E0;
	overflow: auto;
	font-size: 3%;
}

#cart{
	margin-right: 5px;
}
.font{
	font-family: 'Titillium Web', sans-serif;
}
.btnAddAction {
	font-family: 'Titillium Web', sans-serif;
    padding: 5px 10px;
    margin-left: 5px;
    background-color: #efefef;
    border: #E0E0E0 1px solid;
    color: #211a1a;
    float: right;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
}

#product-grid .txt-heading {
	margin-bottom: 18px;
}

.product-item {
	float: left;
	background: #ffffff;
	margin: 30px 30px 0px 0px;
	border: #E0E0E0 1px solid;
}

.product-image {
	height: 155px;
	width: 250px;
	background-color: #FFF;
}

.clear-float {
	clear: both;
}

.demo-input-box {
	border-radius: 2px;
	border: #CCC 1px solid;
	padding: 2px 1px;
}

#tbl-cart {
	font-size: 0.9em;
	margin-left:3%;
	border-bottom:0.1px solid #ccbcb9;
	border-spacing:0px;
}
.product-title {
	margin-bottom: 20px;
}

.product-price {
	float:left;
}

.cart-action {
	float: right;
}

.product-quantity {
    padding: 5px 10px;
    border-radius: 3px;
    border: #E0E0E0 1px solid;
}

.product-tile-footer {
    padding: 15px 15px 0px 15px;
    overflow: auto;
}
#login{
	position:absolute; right: 6%; top:4%;
}
.div-3{
	position:absolute; right:11%;top:3.5%;
}
#div-1{
	position:absolute; left:10%;top:4%;
}
.link{
	text-decoration:none; color:black;
}
.div-2{
	position:absolute; top:3%; left:6.5%;
}
.div-title{
	font-size:36px;color: #cc7b68; font-family: 'Dancing Script', cursive; margin-left:3%;margin-top:6%;
}
.cart-item-image {
	width: 255px;
    height: auto;
    padding: 5px;
    vertical-align: middle;
    margin-right: 15px;
}
#no-records {
	width:1120px;
	height:80px;
	text-align: center;
	clear: both;
	margin-top:100px;
	margin-left:40px;
}